image: kasproject/kas-isar:1.1

variables:
  GIT_STRATEGY: clone
  release: buster
  extention: base
  use_rt: enable
  targz: enable
  dtb: none

stages:
  - build

default:
  before_script:
    - export http_proxy=$HTTP_PROXY
    - export https_proxy=$HTTPS_PROXY
    - export ftp_proxy=$FTP_PROXY
    - export no_proxy=$NO_PROXY
    - export AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
    - export AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY

.build_base:
  stage: build
  variables:
    base_yaml: "kas-cip.yml:kas/board/${target}.yml"
  script:
    - sudo rm -rf build/tmp
    - if [ "${use_rt}" = "enable" ]; then base_yaml="${base_yaml}:kas/opt/rt.yml"; fi;
    - if [ "${extention}" != "base" ]; then base_yaml="${base_yaml}:kas/opt/${extention}.yml"; fi;
    - if [ "${targz}" = "enable" ]; then base_yaml="${base_yaml}:kas/opt/targz-img.yml"; fi;
    - kas build ${base_yaml}
    - scripts/deploy-cip-core.sh ${release} ${target} ${extention} ${dtb}

# base image
build:simatic-ipc227e-base:
  extends:
    - .build_base
  variables:
    target: simatic-ipc227e

build:bbb-base:
  extends:
    - .build_base
  variables:
    target: bbb
    dtb: am335x-boneblack.dtb

build:iwg20m-base:
  extends:
    - .build_base
  variables:
    target: iwg20m
    dtb: r8a7743-iwg20d-q7-dbcm-ca.dtb

build:hihope-rzg2m-base:
  extends:
    - .build_base
  variables:
    target: rzg2m
    dtb: renesas/r8a774a1-hihope-rzg2m-ex.dtb

build:qemu-amd64-base:
  extends:
    - .build_base
  variables:
    target: qemu-amd64
    extention: security
    use_rt: disable
    targz: disable

# test
build:simatic-ipc227e-test:
  extends:
    - .build_base
  variables:
    target: simatic-ipc227e
    extention: test

build:bbb-test:
  extends:
    - .build_base
  variables:
    target: bbb
    extention: test
    dtb: am335x-boneblack.dtb

build:iwg20m-test:
  extends:
    - .build_base
  variables:
    target: iwg20m
    extention: test
    dtb: r8a7743-iwg20d-q7-dbcm-ca.dtb

build:hihope-rzg2m-test:
  extends:
    - .build_base
  variables:
    target: rzg2m
    extention: test
    dtb: renesas/r8a774a1-hihope-rzg2m-ex.dtb
