Source: ${PN}
Section: misc
Priority: optional
Standards-Version: 3.9.6
Maintainer: ${MAINTAINER}
Build-Depends: debhelper (>= 9)

Package: ${PN}
Architecture: ${DPKG_ARCH}
Depends: ${DEBIAN_DEPENDS}
Description: ${DESCRIPTION}
Conflicts: ${DEBIAN_CONFLICTS}
