#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2020
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT
#
software =
{
    version = "0.2";
    name = "secure boot update"
    images: ({
            filename = "${ROOTFS_PARTITION_NAME}";
            device = "sda4,sda5";
            type = "roundrobin";
            compressed = "zlib";
            filesystem = "ext4";
            properties: {
                        subtype = "image";
            };
    });
    files: ({
            filename = "linux.efi";
            path = "linux.efi";
            type = "roundrobin";
            device = "sda4->BOOT0,sda5->BOOT1";
            filesystem = "vfat";
            properties: {
                        subtype = "kernel";
            };
    })
}
