#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2020
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT
#
software =
{
    version = "0.2";
    name = "secure boot update"
    images: ({
            filename = "${ROOTFS_PARTITION_NAME}";
            device = "fedcba98-7654-3210-cafe-5e0710000001,fedcba98-7654-3210-cafe-5e0710000002";
            type = "roundrobin";
            compressed = "true";
            filesystem = "ext4";
    });
    files: ({
            filename = "linux.signed.efi";
            path = "linux.signed.efi";
            type = "kernelfile";
            device = "sda2,sda3";
            filesystem = "vfat";
    })
}
