[Unit]
Description=Overlay-mount /etc
Requires=var.mount
After=var.mount

[Mount]
What=overlay
Where=/etc
Type=overlay
Options=noauto,x-systemd.automount,lowerdir=/etc,upperdir=/var/local/etc,workdir=/var/local/.atomic

[Install]
WantedBy=local-fs.target
