#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2020
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT
#
software =
{
    version = "0.2";
    name = "cip software update";
    images: ({
            filename = "${ROOTFS_PARTITION_NAME}";
            device = "C:BOOT0:linux.efi->fedcba98-7654-3210-cafe-5e0710000001,C:BOOT1:linux.efi->fedcba98-7654-3210-cafe-5e0710000002";
            type = "roundrobin";
            compressed = "zlib";
            filesystem = "ext4";
            properties: {
                        subtype = "image";
                        configfilecheck = "/etc/os-release@not_match@IMAGE_UUID=${TARGET_IMAGE_UUID}";
            };
            sha256 = "${ROOTFS_PARTITION_NAME}-sha256";
    });
    files: ({
            filename = "linux.efi";
            path = "linux.efi";
            type = "roundrobin";
            device = "C:BOOT0:linux.efi->BOOT0,C:BOOT1:linux.efi->BOOT1";
            filesystem = "vfat";
            properties: {
                        subtype = "kernel";
            };
            sha256 = "linux.efi-sha256";
    });
}
