#
# CIP Core, generic profile
#
# Copyright (c) Siemens AG, 2020
#
# Authors:
#  Quirin Gylstorff <quirin.gylstorff@siemens.com>
#
# SPDX-License-Identifier: MIT
#
software =
{
    version = "0.2";
    name = "cip software update"
    images: ({
            filename = "${ROOTFS_PARTITION_NAME}";
            device = "fedcba98-7654-3210-cafe-5e0710000001,fedcba98-7654-3210-cafe-5e0710000002";
            type = "roundrobin";
            compressed = "zlib";
            filesystem = "ext4";
            properties: {
                        subtype = "image";
            };
    });
    files: ({
            filename = "${KERNEL_IMAGE}";
            path = "vmlinuz";
            type = "roundrobin";
            device = "fedcba98-7654-3210-cafe-5e0710000001->BOOT0,fedcba98-7654-3210-cafe-5e0710000002->BOOT1";
            filesystem = "vfat";
            properties: {
                        subtype = "kernel";
            };
    },
    {
            filename = "${INITRD_IMAGE}";
            path = "${INITRD_IMAGE}";
            type = "roundrobin";
            device = "fedcba98-7654-3210-cafe-5e0710000001->BOOT0,fedcba98-7654-3210-cafe-5e0710000002->BOOT1";
            filesystem = "vfat";
            properties: {
                        subtype = "initrd";
            };
    });
}
